@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap");
@import "tailwindcss";

@theme {
  --color-red: #951717;
  --color-light-red: #ce2d2d;
  --color-white: #FEF4E1;
  --color-creme: #f8edcd;

  --font-ultra: "Ultra", serif;
  --font-podkova: "Podkova", serif;
  --font-send-flowers: "Send Flowers", cursive;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.5px #f8edcd;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
