@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap");
@import "tailwindcss";

@config '../../tailwind.config.ts';

@theme {
  --color-red: #951717;
  --color-light-red: #ce2d2d;
  --color-creme: #f8edcd;

  --font-ultra: "Ultra", serif;
  --font-podkova: "Podkova", serif;
  --font-send-flowers: "Send Flowers", cursive;
}